<h1 style = "text-align: center;">Available Housing</h1> <br>

<div class = "container">
    <ul style="list-style-type: none;">
    <% houses.forEach(house => { %>
        <li>
            <div class="col-sm-6">
                <p class="address" style="text-align: center; font-size: large;">
                  Housing Address: <%= house.address %><br>
                </p>
                <p style="text-align: center; font-size: medium;">
                   Renter Name: <%= house.name %><br>
                   Contact Info: <%= house.landlordPhone %> / <%= house.email %><br>
                   Housing Layout: <%= house.bedroom %>b<%= house.bathroom %>b<br>
                   Expected Price: $<%= house.rent %> per month<br>
                   Lease Term: <%= house.startDate %>-<%= house.endDate %><br>
                   Additional Description: <%= house.comment%><br>
                </p>
            </div>
            <div class="col-sm-6" style="text-align: center;">
                <img src= "<%= house.picUrl %>" style="width: 400px; height: 250px; vertical-align: center;"/>
            </div>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <div style="text-align: center;">
                <a href="/showHouses/remove/<%=house._id %>" >
                    <span class="button">Remove</span>
                </a>
            </div>
            <br><br><br>
        </li>
    <% }) %>
    </ul>
</div>
