<h1 style = "text-align: center;">Available Housing</h1> <br>

<div class = "container">
    <ul style="list-style-type: none;">
    <% houses.forEach(house => { %>
        <li>
            <div class="col-sm-6">
                <p style="text-align: center; font-size: x-large;">
                  <%= house.address %><br>
                </p>
                <p style="text-align: center; font-size: large;">
                    <%= house.name %><br>
                    <%= house.landlordPhone %><br>
                    <%= house.email %><br>
                    <%= house.bedroom %><br>
                    <%= house.bathroom %><br>
                    <%= house.rent %><br>
                    <%= house.startDate %><br>
                    <%= house.endDate %><br>
                    <%= house.comment%><br>
                </p>
            </div>
            <div class="col-sm-6" style="text-align: center;">
                <img src= "<%= house.picUrl %>" style="width: 300px; height: 180px; vertical-align: center;"/>
            </div>
            <a href="/showHouses/remove/<%=house._id %>" style="align-self: center;">
				<span class="button">Remove</span>
            </a>
            <br><br><br>
        </li>
    <% }) %>
    </ul>
</div>
